<% include ../partials/header %>
<div class="formContainer">
  <h3 style="text-align: center;" class="mb-3">Edit <%= dogpark.name %></h3>
  <!-- will refactor styles later -->
  <div style="margin: auto">
    <form action="/dogparks/<%= dogpark._id %>?_method=PUT" method="POST">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="dogpark[name]"
          value="<%= dogpark.name %>"
          required
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="dogpark[image]"
          value="<%= dogpark.image %>"
          required
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="dogpark[description]"
          value="<%= dogpark.description %>"
          required
        />
      </div>
      <div class="form-group">
        <button class="btn btn-lg">Submit</button>
      </div>
    </form>
    <a href="/dogparks" class="text-center">Go Back</a>
  </div>
</div>
<% include ../partials/footer %>
