<% include ../partials/header %>

<h3 class="mt-4 mb-3 text-center"><a><%= dogPark.name %></a></h3>
<div class="container mt-4 mb-4 pb-4">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="caption-full text-left ml-3">
        <% if(dogPark.price){ %>
        <h4 class="mt-2">$<%= dogPark.price %> per visit</h4>
        <% } %>
        <% if(!dogPark.price || dogPark.price === 0){ %>
        <h4 class="mt-2">FREE</h4>
        <% } %>

        <p><%= dogPark.description %></p>
        <p>
          <em class="float-left">
            Submitted By <%= dogPark.author.username %>
          </em>
        </p>
        <!-- authorization if user logged in and owns campgrond can delete/edit it -->
        <div class="float-right">
          <% if(currentUser && dogPark.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <a class="btn" href="/dogparks/<%= dogPark._id %>/edit">Edit <i class="fas fa-pencil-alt"></i></a>
            <form action="/dogparks/<%= dogPark._id %>?_method=DELETE" method="POST" class="delete-form">
              <button class="btn">Delete <i class="fas fa-trash-alt"></i></button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <!-- <p class="lead">YelpCamp</p> -->
      <div class="list-group mr-3 ml-3 mb-3">
        <!-- placeholders for now, will have data later -->
        <li class="list-group-item orangeBG"><i class="fas fa-tree"></i> Park for Dogs to play</li>
        <li class="list-group-item yellowBG"><i class="fas fa-bone"></i> Water & treats available</i></li>
        <li class="list-group-item orangeBG"><i class="fas fa-dog"></i> All Dogs welcome</li>
            <!-- <li class="list-group-item active">Very Popular</li> -->
      </div>
    </div> 
  </div>

  <div class="thumbnail col-md-12 mt-4 mb-4">
    <img src="<%= dogPark.image %>" />
  </div>

  <div class="text-right ml-3 mr-3">
    <a
      class="btn mt-3 mb-3"
      href="/dogparks/<%= dogPark._id %>/comments/new"
      ><i class="fas fa-plus"></i> Add New Comment</a>
        
    <hr />

    <% dogPark.comments.forEach(comment => { %>
    <div class="row">
      <div class="col-md-12 text-right">
        <strong>
          <%= comment.author.username %>
        </strong>

        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
        <p>
          <%= comment.text %>
        </p>
          <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
              
        <a
          class="btn btn-xs"
          href="/dogparks/<%= dogPark._id %>/comments/<%= comment._id %>/edit"
          >Edit <i class="fas fa-pencil-alt"></i></a
        >
        <form class="delete-form" action="/dogparks/<%= dogPark._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <input type="submit" class="btn btn-xs" value="Delete"> 
        </form>
         
        <% } %>

        <br>
      </div>
    </div>
    <% }) %> 
  </div>
    
  <a href="/dogparks" class="ml-3"><i class="fas fa-long-arrow-alt-left"></i> Go Back</a>
</div>

<div class="footerForms">
  <% include ../partials/footer %>
</div>